<div id="<%= dom_id book %>">


  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= book.precio %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.autor %>
  </p>

   <p>
    <strong>genero:</strong>
    <%= book.genero %>
  </p>

  <p>
    <strong>Cantidad de paginas:</strong>
    <%= book.cantidad_de_paginas %>
  </p>

  <p>
    <strong>description:</strong>
    <%= book.description %>
  </p>

</div>
