<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :precio, style: "display: block" %>
    <%= form.text_field :precio %>
  </div>

  <div>
    <%= form.label :autor, style: "display: block" %>
    <%= form.text_field :autor %>
  </div>

   <div>
    <%= form.label :genero, style: "display: block" %>
    <%= form.text_field :genero %>
  </div>

  <p>
   <div>
    <%# elmine el genero ya que tenemos este %>
    <%# selector dexplegable, envia un category id a la peticion, y se rellenera de todas las categorias poner el id y el nombre %>
    <%= form.label :category_id%>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name%>
   </div>
    <p>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>


  <div>
    <%= form.label :cantidad_de_paginas, style: "display: block" %>
    <%= form.number_field :cantidad_de_paginas %>
  </div>

   <div>
    <%= form.label :foto, style: "display: block" %>
    <%= form.file_field :foto %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
