<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to t('.all'), books_path%>
<%= render partial: 'category', collection: @categories%>
<div id="books">

  <% @books.each do |book| %>
    <% if book.foto.attached? %>
      <image src="<%= url_for(book.foto) %>" height=100>
    <% end %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>


<%= link_to "New book", new_book_path %>
